Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

<% @classroom.students.all.each do |student| %>
  <%= render partial: 'students/student', locals: {class_student: student} %>
<% end %>
